.OneC-Enterprise {
    background: #814CCC
}

.Two-Dimensional-Array {
    background: #38761D
}

.FourD {
    background: #004289
}

.ABAP {
    background: #E8274B
}

.ABAP-CDS {
    background: #555e25
}

.ActionScript {
    background: #882B0F
}

.Ada {
    background: #02f88c
}

.Adblock-Filter-List {
    background: #800000
}

.Adobe-Font-Metrics {
    background: #fa0f00
}

.Agda {
    background: #315665
}

.AGS-Script {
    background: #B9D9FF
}

.AIDL {
    background: #34EB6B
}

.AL {
    background: #3AA2B5
}

.Alloy {
    background: #64C800
}

.Alpine-Abuild {
    background: #0D597F
}

.Altium-Designer {
    background: #A89663
}

.AMPL {
    background: #E6EFBB
}

.AngelScript {
    background: #C7D7DC
}

.Ant-Build-System {
    background: #A9157E
}

.Antlers {
    background: #ff269e
}

.ANTLR {
    background: #9DC3FF
}

.ApacheConf {
    background: #d12127
}

.Apex {
    background: #1797c0
}

.API-Blueprint {
    background: #2ACCA8
}

.APL {
    background: #5A8164
}

.Apollo-Guidance-Computer {
    background: #0B3D91
}

.AppleScript {
    background: #101F1F
}

.Arc {
    background: #aa2afe
}

.AsciiDoc {
    background: #73a0c5
}

.ASP.NET {
    background: #9400ff
}

.AspectJ {
    background: #a957b0
}

.Assembly {
    background: #6E4C13
}

.Astro {
    background: #ff5a03
}

.Asymptote {
    background: #ff0000
}

.ATS {
    background: #1ac620
}

.Augeas {
    background: #9CC134
}

.AutoHotkey {
    background: #6594b9
}

.AutoIt {
    background: #1C3552
}

.Avro-IDL {
    background: #0040FF
}

.Awk {
    background: #c30e9b
}

.Ballerina {
    background: #FF5000
}

.BASIC {
    background: #ff0000
}

.Batchfile {
    background: #C1F12E
}

.Beef {
    background: #a52f4e
}

.Berry {
    background: #15A13C
}

.BibTeX {
    background: #778899
}

.Bicep {
    background: #519aba
}

.Bikeshed {
    background: #5562ac
}

.Bison {
    background: #6A463F
}

.BitBake {
    background: #00bce4
}

.Blade {
    background: #f7523f
}

.BlitzBasic {
    background: #00FFAE
}

.BlitzMax {
    background: #cd6400
}

.Bluespec {
    background: #12223c
}

.Boo {
    background: #d4bec1
}

.Boogie {
    background: #c80fa0
}

.Brainfuck {
    background: #2F2530
}

.BrighterScript {
    background: #66AABB
}

.Brightscript {
    background: #662D91
}

.Browserslist {
    background: #ffd539
}

.C {
    background: #555555
}

.C-Sharp {
    background: #178600
}

.C-Plus-Plus {
    background: #f34b7d
}

.Cabal-Config {
    background: #483465
}

.Cadence {
    background: #00ef8b
}

.Cairo {
    background: #ff4a48
}

.CameLIGO {
    background: #3be133
}

.CAP-CDS {
    background: #0092d1
}

.Capn-Proto {
    background: #c42727
}

.Ceylon {
    background: #dfa535
}

.Chapel {
    background: #8dc63f
}

.ChucK {
    background: #3f8000
}

.Cirru {
    background: #ccccff
}

.Clarion {
    background: #db901e
}

.Clarity {
    background: #5546ff
}

.Classic-ASP {
    background: #6a40fd
}

.Clean {
    background: #3F85AF
}

.Click {
    background: #E4E6F3
}

.CLIPS {
    background: #00A300
}

.Clojure {
    background: #db5855
}

.Closure-Templates {
    background: #0d948f
}

.Cloud-Firestore-Security-Rules {
    background: #FFA000
}

.CMake {
    background: #DA3434
}

.CodeQL {
    background: #140f46
}

.CoffeeScript {
    background: #244776
}

.ColdFusion {
    background: #ed2cd6
}

.ColdFusion-CFC {
    background: #ed2cd6
}

.COLLADA {
    background: #F1A42B
}

.Common-Lisp {
    background: #3fb68b
}

.Common-Workflow-Language {
    background: #B5314C
}

.Component-Pascal {
    background: #B0CE4E
}

.Coq {
    background: #d0b68c
}

.Crystal {
    background: #000100
}

.CSON {
    background: #244776
}

.Csound {
    background: #1a1a1a
}

.Csound-Document {
    background: #1a1a1a
}

.Csound-Score {
    background: #1a1a1a
}

.CSS {
    background: #563d7c
}

.CSV {
    background: #237346
}

.Cuda {
    background: #3A4E3A
}

.CUE {
    background: #5886E1
}

.Curry {
    background: #531242
}

.CWeb {
    background: #00007a
}

.Cypher {
    background: #34c0eb
}

.Cython {
    background: #fedf5b
}

.D {
    background: #ba595e
}

.Dafny {
    background: #FFEC25
}

.Darcs-Patch {
    background: #8eff23
}

.Dart {
    background: #00B4AB
}

.DataWeave {
    background: #003a52
}

.Debian-Package-Control-File {
    background: #D70751
}

.DenizenScript {
    background: #FBEE96
}

.Dhall {
    background: #dfafff
}

.DirectX-3D-File {
    background: #aace60
}

.DM {
    background: #447265
}

.Dockerfile {
    background: #384d54
}

.Dogescript {
    background: #cca760
}

.Dylan {
    background: #6c616e
}

.E {
    background: #ccce35
}

.Earthly {
    background: #2af0ff
}

.Easybuild {
    background: #069406
}

.eC {
    background: #913960
}

.Ecere-Projects {
    background: #913960
}

.ECL {
    background: #8a1267
}

.ECLiPSe {
    background: #001d9d
}

.Ecmarkup {
    background: #eb8131
}

.EditorConfig {
    background: #fff1f2
}

.Eiffel {
    background: #4d6977
}

.EJS {
    background: #a91e50
}

.Elixir {
    background: #6e4a7e
}

.Elm {
    background: #60B5CC
}

.Elvish {
    background: #55BB55
}

.Emacs-Lisp {
    background: #c065db
}

.EmberScript {
    background: #FFF4F3
}

.EQ {
    background: #a78649
}

.Erlang {
    background: #B83998
}

.Euphoria {
    background: #FF790B
}

.F-Sharp {
    background: #b845fc
}

.F-Star {
    background: #572e30
}

.Factor {
    background: #636746
}

.Fancy {
    background: #7b9db4
}

.Fantom {
    background: #14253c
}

.Faust {
    background: #c37240
}

.Fennel {
    background: #fff3d7
}

.FIGlet-Font {
    background: #FFDDBB
}

.Filebench-WML {
    background: #F6B900
}

.fish {
    background: #4aae47
}

.Fluent {
    background: #ffcc33
}

.FLUX {
    background: #88ccff
}

.Forth {
    background: #341708
}

.Fortran {
    background: #4d41b1
}

.Fortran-Free-Form {
    background: #4d41b1
}

.FreeBasic {
    background: #867db1
}

.FreeMarker {
    background: #0050b2
}

.Frege {
    background: #00cafe
}

.Futhark {
    background: #5f021f
}

.G-code {
    background: #D08CF2
}

.Game-Maker-Language {
    background: #71b417
}

.GAML {
    background: #FFC766
}

.GAMS {
    background: #f49a22
}

.GAP {
    background: #0000cc
}

.GCC-Machine-Description {
    background: #FFCFAB
}

.GDScript {
    background: #355570
}

.GEDCOM {
    background: #003058
}

.Gemfile.lock {
    background: #701516
}

.Gemini {
    background: #ff6900
}

.Genero {
    background: #63408e
}

.Genero-Forms {
    background: #d8df39
}

.Genie {
    background: #fb855d
}

.Genshi {
    background: #951531
}

.Gentoo-Ebuild {
    background: #9400ff
}

.Gentoo-Eclass {
    background: #9400ff
}

.Gerber-Image {
    background: #d20b00
}

.Gherkin {
    background: #5B2063
}

.Git-Attributes {
    background: #F44D27
}

.Git-Config {
    background: #F44D27
}

.Git-Revision-List {
    background: #F44D27
}

.Gleam {
    background: #ffaff3
}

.GLSL {
    background: #5686a5
}

.Glyph {
    background: #c1ac7f
}

.Gnuplot {
    background: #f0a9f0
}

.Go {
    background: #00ADD8
}

.Go-Checksums {
    background: #00ADD8
}

.Go-Module {
    background: #00ADD8
}

.Golo {
    background: #88562A
}

.Gosu {
    background: #82937f
}

.Grace {
    background: #615f8b
}

.Gradle {
    background: #02303a
}

.Grammatical-Framework {
    background: #ff0000
}

.GraphQL {
    background: #e10098
}

.Graphviz-DOT {
    background: #2596be
}

.Groovy {
    background: #4298b8
}

.Groovy-Server-Pages {
    background: #4298b8
}

.GSC {
    background: #FF6800
}

.Hack {
    background: #878787
}

.Haml {
    background: #ece2a9
}

.Handlebars {
    background: #f7931e
}

.HAProxy {
    background: #106da9
}

.Harbour {
    background: #0e60e3
}

.Haskell {
    background: #5e5086
}

.Haxe {
    background: #df7900
}

.HiveQL {
    background: #dce200
}

.HLSL {
    background: #aace60
}

.HOCON {
    background: #9ff8ee
}

.HolyC {
    background: #ffefaf
}

.hoon {
    background: #00b171
}

.HTML {
    background: #e34c26
}

.HTML-ECR {
    background: #2e1052
}

.HTML-EEX {
    background: #6e4a7e
}

.HTML-ERB {
    background: #701516
}

.HTML-PHP {
    background: #4f5d95
}

.HTML-Razor {
    background: #512be4
}

.HTTP {
    background: #005C9C
}

.HXML {
    background: #f68712
}

.Hy {
    background: #7790B2
}

.IDL {
    background: #a3522f
}

.Idris {
    background: #b30000
}

.Ignore-List {
    background: #000000
}

.IGOR-Pro {
    background: #0000cc
}

.ImageJ-Macro {
    background: #99AAFF
}

.Imba {
    background: #16cec6
}

.INI {
    background: #d1dbe0
}

.Inno-Setup {
    background: #264b99
}

.Io {
    background: #a9188d
}

.Ioke {
    background: #078193
}

.Isabelle {
    background: #FEFE00
}

.Isabelle-ROOT {
    background: #FEFE00
}

.J {
    background: #9EEDFF
}

.Janet {
    background: #0886a5
}

.JAR-Manifest {
    background: #b07219
}

.Jasmin {
    background: #d03600
}

.Java {
    background: #b07219
}

.Java-Properties {
    background: #2A6277
}

.Java-Server-Pages {
    background: #2A6277
}

.JavaScript {
    background: #f1e05a
}

.JavaScript+ERB {
    background: #f1e05a
}

.Jest-Snapshot {
    background: #15c213
}

.JetBrains-MPS {
    background: #21D789
}

.JFlex {
    background: #DBCA00
}

.Jinja {
    background: #a52a22
}

.Jison {
    background: #56b3cb
}

.Jison-Lex {
    background: #56b3cb
}

.Jolie {
    background: #843179
}

.jq {
    background: #c7254e
}

.JSON {
    background: #292929
}

.JSON-with-Comments {
    background: #292929
}

.JSON5 {
    background: #267CB9
}

.JSONiq {
    background: #40d47e
}

.JSONLD {
    background: #0c479c
}

.Jsonnet {
    background: #0064bd
}

.Julia {
    background: #a270ba
}

.Jupyter-Notebook {
    background: #DA5B0B
}

.just {
    background: #384d54
}

.Kaitai-Struct {
    background: #773b37
}

.KakouneScript {
    background: #6f8042
}

.KiCad-Layout {
    background: #2f4aab
}

.KiCad-Legacy-Layout {
    background: #2f4aab
}

.KiCad-Schematic {
    background: #2f4aab
}

.Kotlin {
    background: #A97BFF
}

.KRL {
    background: #28430A
}

.kvlang {
    background: #1da6e0
}

.LabVIEW {
    background: #fede06
}

.Lark {
    background: #2980B9
}

.Lasso {
    background: #999999
}

.Latte {
    background: #f2a542
}

.Less {
    background: #1d365d
}

.Lex {
    background: #DBCA00
}

.LFE {
    background: #4C3023
}

.LigoLANG {
    background: #0e74ff
}

.LilyPond {
    background: #9ccc7c
}

.Liquid {
    background: #67b8de
}

.Literate-Agda {
    background: #315665
}

.Literate-CoffeeScript {
    background: #244776
}

.Literate-Haskell {
    background: #5e5086
}

.LiveScript {
    background: #499886
}

.LLVM {
    background: #185619
}

.Logtalk {
    background: #295b9a
}

.LOLCODE {
    background: #cc9900
}

.LookML {
    background: #652B81
}

.LSL {
    background: #3d9970
}

.Lua {
    background: #000080
}

.Macaulay2 {
    background: #d8ffff
}

.Makefile {
    background: #427819
}

.Mako {
    background: #7e858d
}

.Markdown {
    background: #083fa1
}

.Marko {
    background: #42bff2
}

.Mask {
    background: #f97732
}

.Mathematica {
    background: #dd1100
}

.MATLAB {
    background: #e16737
}

.Max {
    background: #c4a79c
}

.MAXScript {
    background: #00a6a6
}

.mcfunction {
    background: #E22837
}

.Mercury {
    background: #ff2b2b
}

.Mermaid {
    background: #ff3670
}

.Meson {
    background: #007800
}

.Metal {
    background: #8f14e9
}

.MiniYAML {
    background: #ff1111
}

.Mint {
    background: #02b046
}

.Mirah {
    background: #c7a938
}

.mIRC-Script {
    background: #3d57c3
}

.MLIR {
    background: #5EC8DB
}

.Modelica {
    background: #de1d31
}

.Modula-2 {
    background: #10253f
}

.Modula-3 {
    background: #223388
}

.Monkey-C {
    background: #8D6747
}

.MoonScript {
    background: #ff4585
}

.Motoko {
    background: #fbb03b
}

.Motorola-68K-Assembly {
    background: #005daa
}

.Move {
    background: #4a137a
}

.MQL4 {
    background: #62A8D6
}

.MQL5 {
    background: #4A76B8
}

.MTML {
    background: #b7e1f4
}

.mupad {
    background: #244963
}

.Mustache {
    background: #724b3b
}

.nanorc {
    background: #2d004d
}

.Nasal {
    background: #1d2c4e
}

.NCL {
    background: #28431f
}

.Nearley {
    background: #990000
}

.Nemerle {
    background: #3d3c6e
}

.nesC {
    background: #94B0C7
}

.NetLinx {
    background: #0aa0ff
}

.NetLinx+ERB {
    background: #747faa
}

.NetLogo {
    background: #ff6375
}

.NewLisp {
    background: #87AED7
}

.Nextflow {
    background: #3ac486
}

.Nginx {
    background: #009639
}

.Nim {
    background: #ffc200
}

.Nit {
    background: #009917
}

.Nix {
    background: #7e7eff
}

.NPM-Config {
    background: #cb3837
}

.Nu {
    background: #c9df40
}

.NumPy {
    background: #9C8AF9
}

.Nunjucks {
    background: #3d8137
}

.NWScript {
    background: #111522
}

.OASv2-json {
    background: #85ea2d
}

.OASv2-yaml {
    background: #85ea2d
}

.OASv3-json {
    background: #85ea2d
}

.OASv3-yaml {
    background: #85ea2d
}

.Objective-C {
    background: #438eff
}

.Objective-C-Plus-Plus {
    background: #6866fb
}

.Objective-J {
    background: #ff0c5a
}

.ObjectScript {
    background: #424893
}

.OCaml {
    background: #3be133
}

.Odin {
    background: #60AFFE
}

.Omgrofl {
    background: #cabbff
}

.ooc {
    background: #b0b77e
}

.Opal {
    background: #f7ede0
}

.Open-Policy-Agent {
    background: #7d9199
}

.OpenAPI-Specification-v2 {
    background: #85ea2d
}

.OpenAPI-Specification-v3 {
    background: #85ea2d
}

.OpenCL {
    background: #ed2e2d
}

.OpenEdge-ABL {
    background: #5ce600
}

.OpenQASM {
    background: #AA70FF
}

.OpenSCAD {
    background: #e5cd45
}

.Option-List {
    background: #476732
}

.Org {
    background: #77aa99
}

.Oxygene {
    background: #cdd0e3
}

.Oz {
    background: #fab738
}

.P4 {
    background: #7055b5
}

.Pan {
    background: #cc0000
}

.Papyrus {
    background: #6600cc
}

.Parrot {
    background: #f3ca0a
}

.Pascal {
    background: #E3F171
}

.Pawn {
    background: #dbb284
}

.PDDL {
    background: #0d00ff
}

.PEG.js {
    background: #234d6b
}

.Pep8 {
    background: #C76F5B
}

.Perl {
    background: #0298c3
}

.PHP {
    background: #4F5D95
}

.PicoLisp {
    background: #6067af
}

.PigLatin {
    background: #fcd7de
}

.Pike {
    background: #005390
}

.PLpgSQL {
    background: #336790
}

.PLSQL {
    background: #dad8d8
}

.PogoScript {
    background: #d80074
}

.Polar {
    background: #ae81ff
}

.Portugol {
    background: #f8bd00
}

.PostCSS {
    background: #dc3a0c
}

.PostScript {
    background: #da291c
}

.POV-Ray-SDL {
    background: #6bac65
}

.PowerBuilder {
    background: #8f0f8d
}

.PowerShell {
    background: #012456
}

.Prisma {
    background: #0c344b
}

.Processing {
    background: #0096D8
}

.Procfile {
    background: #3B2F63
}

.Prolog {
    background: #74283c
}

.Promela {
    background: #de0000
}

.Propeller-Spin {
    background: #7fa2a7
}

.Pug {
    background: #a86454
}

.Puppet {
    background: #302B6D
}

.PureBasic {
    background: #5a6986
}

.PureScript {
    background: #1D222D
}

.Python {
    background: #3572A5
}

.Python-console {
    background: #3572A5
}

.Python-traceback {
    background: #3572A5
}

.q {
    background: #0040cd
}

.Q-Sharp {
    background: #fed659
}

.QML {
    background: #44a51c
}

.Qt-Script {
    background: #00b841
}

.Quake {
    background: #882233
}

.R {
    background: #198CE7
}

.Racket {
    background: #3c5caa
}

.Ragel {
    background: #9d5200
}

.Raku {
    background: #0000fb
}

.RAML {
    background: #77d9fb
}

.Rascal {
    background: #fffaa0
}

.RDoc {
    background: #701516
}

.Reason {
    background: #ff5847
}

.ReasonLIGO {
    background: #ff5847
}

.Rebol {
    background: #358a5b
}

.Record-Jar {
    background: #0673ba
}

.Red {
    background: #f50000
}

.Regular-Expression {
    background: #009a00
}

.RenPy {
    background: #ff7f7f
}

.ReScript {
    background: #ed5051
}

.reStructuredText {
    background: #141414
}

.REXX {
    background: #d90e09
}

.Ring {
    background: #2D54CB
}

.Riot {
    background: #A71E49
}

.RMarkdown {
    background: #198ce7
}

.RobotFramework {
    background: #00c0b5
}

.Roff {
    background: #ecdebe
}

.Roff-Manpage {
    background: #ecdebe
}

.Rouge {
    background: #cc0088
}

.RouterOS-Script {
    background: #DE3941
}

.RPGLE {
    background: #2BDE21
}

.Ruby {
    background: #701516
}

.RUNOFF {
    background: #665a4e
}

.Rust {
    background: #dea584
}

.SaltStack {
    background: #646464
}

.SAS {
    background: #B34936
}

.Sass {
    background: #a53b70
}

.Scala {
    background: #c22d40
}

.Scaml {
    background: #bd181a
}

.Scenic {
    background: #fdc700
}

.Scheme {
    background: #1e4aec
}

.Scilab {
    background: #ca0f21
}

.SCSS {
    background: #c6538c
}

.sed {
    background: #64b970
}

.Self {
    background: #0579aa
}

.ShaderLab {
    background: #222c37
}

.Shell {
    background: #89e051
}

.ShellCheck-Config {
    background: #cecfcb
}

.Shen {
    background: #120F14
}

.Simple-File-Verification {
    background: #C9BFED
}

.Singularity {
    background: #64E6AD
}

.Slash {
    background: #007eff
}

.Slice {
    background: #003fa2
}

.Slim {
    background: #2b2b2b
}

.Smalltalk {
    background: #596706
}

.Smarty {
    background: #f0c040
}

.Smithy {
    background: #c44536
}

.SmPL {
    background: #c94949
}

.Solidity {
    background: #AA6746
}

.SourcePawn {
    background: #f69e1d
}

.SPARQL {
    background: #0C4597
}

.SQF {
    background: #3F3F3F
}

.SQL {
    background: #e38c00
}

.SQLPL {
    background: #e38c00
}

.Squirrel {
    background: #800000
}

.SRecode-Template {
    background: #348a34
}

.Stan {
    background: #b2011d
}

.Standard-ML {
    background: #dc566d
}

.Starlark {
    background: #76d275
}

.Stata {
    background: #1a5f91
}

.STL {
    background: #373b5e
}

.StringTemplate {
    background: #3fb34f
}

.Stylus {
    background: #ff6347
}

.SubRip-Text {
    background: #9e0101
}

.SugarSS {
    background: #2fcc9f
}

.SuperCollider {
    background: #46390b
}

.Svelte {
    background: #ff3e00
}

.SVG {
    background: #ff9900
}

.Swift {
    background: #F05138
}

.SystemVerilog {
    background: #DAE1C2
}

.Talon {
    background: #333333
}

.Tcl {
    background: #e4cc98
}

.Terra {
    background: #00004c
}

.TeX {
    background: #3D6117
}

.Textile {
    background: #ffe7ac
}

.TextMate-Properties {
    background: #df66e4
}

.Thrift {
    background: #D12127
}

.TI-Program {
    background: #A0AA87
}

.TLA {
    background: #4b0079
}

.TOML {
    background: #9c4221
}

.TSQL {
    background: #e38c00
}

.TSV {
    background: #237346
}

.TSX {
    background: #3178c6
}

.Turing {
    background: #cf142b
}

.Twig {
    background: #c1d026
}

.TXL {
    background: #0178b8
}

.TypeScript {
    background: #3178c6
}

.Unified-Parallel-C {
    background: #4e3617
}

.Unity3D-Asset {
    background: #222c37
}

.Uno {
    background: #9933cc
}

.UnrealScript {
    background: #a54c4d
}

.UrWeb {
    background: #ccccee
}

.V {
    background: #4f87c4
}

.Vala {
    background: #a56de2
}

.Valve-Data-Format {
    background: #f26025
}

.VBA {
    background: #867db1
}

.VBScript {
    background: #15dcdc
}

.VCL {
    background: #148AA8
}

.Velocity-Template-Language {
    background: #507cff
}

.Verilog {
    background: #b2b7f8
}

.VHDL {
    background: #adb2cb
}

.Vim-Help-File {
    background: #199f4b
}

.Vim-Script {
    background: #199f4b
}

.Vim-Snippet {
    background: #199f4b
}

.Visual-Basic-.NET {
    background: #945db7
}

.Visual-Basic-6 {
    background: #2c6353
}

.Volt {
    background: #1F1F1F
}

.Vue {
    background: #41b883
}

.Vyper {
    background: #2980b9
}

.wdl {
    background: #42f1f4
}

.Web-Ontology-Language {
    background: #5b70bd
}

.WebAssembly {
    background: #04133b
}

.Whiley {
    background: #d5c397
}

.Wikitext {
    background: #fc5757
}

.Windows-Registry-Entries {
    background: #52d5ff
}

.wisp {
    background: #7582D1
}

.Witcher-Script {
    background: #ff0000
}

.Wollok {
    background: #a23738
}

.World-of-Warcraft-Addon-Data {
    background: #f7e43f
}

.Wren {
    background: #383838
}

.X10 {
    background: #4B6BEF
}

.xBase {
    background: #403a40
}

.XC {
    background: #99DA07
}

.XML {
    background: #0060ac
}

.XML-Property-List {
    background: #0060ac
}

.Xojo {
    background: #81bd41
}

.Xonsh {
    background: #285EEF
}

.XQuery {
    background: #5232e7
}

.XSLT {
    background: #EB8CEB
}

.Xtend {
    background: #24255d
}

.Yacc {
    background: #4B6C4B
}

.YAML {
    background: #cb171e
}

.YARA {
    background: #220000
}

.YASnippet {
    background: #32AB90
}

.Yul {
    background: #794932
}

.ZAP {
    background: #0d665e
}

.ZenScript {
    background: #00BCD1
}

.Zephir {
    background: #118f9e
}

.Zig {
    background: #ec915c
}

.ZIL {
    background: #dc75e5
}

.Zimpl {
    background: #d67711
}